*{
    margin: 0;
    padding:0;
}

.header{
    background-color: #148cac;
    height: 70px;;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}